# SINTAXIS PYTHON

* tipos de datos
* variable
* operadores

In [1]:
edad = 18
salario = 3000.4
print(edad)
print(salario)

18
3000.4

In [2]:
complex(1, 1)

(1+1j)

In [3]:
edad

18

In [4]:
type(edad)

int

In [5]:
type(salario)

float

## Operadores

In [6]:
salary = 1500.0
bonus = 101.34

final_salary = salary + bonus
final_salary

1601.34

In [7]:
salary_without_bonus = salary - bonus

In [8]:
salary_without_bonus

1398.66

In [15]:
# Operación módulo o resto, permite saber si un número es par
4 % 2

0

In [16]:
''' 
Esto es un comentario de varias líneas
Operación módulo
'''
5 % 2

1

In [23]:
1999 / 10

199.9

In [24]:
1999 // 10

199

In [26]:
product1_price = 36.33
product2_price = 44.55
total_price = product1_price + product2_price
total_price

80.88

In [28]:
# No se puede usar palabras reservadas 
# https://docs.python.org/3/reference/lexical_analysis.html#keywords
# else = 15