In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
df = pd.read_csv('../Data/diamonds.csv')
df['cut'] =df['cut'].replace('?', np.nan)

In [10]:
df['cut'].mode()[0]

'Ideal'

In [7]:
df['cut'].fillna(df['cut'].mode()[0],inplace=True)

In [8]:
df.isnull().sum()

carat      1
cut        0
color      2
clarity    2
depth      0
table      2
price      2
x          2
y          1
z          1
dtype: int64

In [2]:
df = sns.load_dataset('diamonds')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [14]:
df.groupby("cut", as_index=False)['price'].agg(['min', 'mean', 'max'])

C:\Users\alanj\AppData\Local\Temp\ipykernel_36992\3733547541.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("cut", as_index=False)['price'].agg(['min', 'mean', 'max'])

         cut  min         mean    max
0      Ideal  326  3457.541970  18806
1    Premium  326  4584.257704  18823
2  Very Good  336  3981.759891  18818
3       Good  327  3928.864452  18788
4       Fair  337  4358.757764  18574

In [12]:
df2 = df.groupby("cut", as_index=False).agg({
    'price' : ['min', 'mean', 'max'],
    })
df2

C:\Users\alanj\AppData\Local\Temp\ipykernel_36992\1504372376.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df2 = df.groupby("cut", as_index=False).agg({

         cut price
               min         mean    max
0      Ideal   326  3457.541970  18806
1    Premium   326  4584.257704  18823
2  Very Good   336  3981.759891  18818
3       Good   327  3928.864452  18788
4       Fair   337  4358.757764  18574